# YouTube Data API v3 Key
# Get this from: https://console.cloud.google.com
# 1. Create new project
# 2. Enable "YouTube Data API v3"
# 3. Create API key in Credentials
# 4. Copy the key below (remove quotes)
VITE_YOUTUBE_API_KEY=
